// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
/**
 * A region that contains mostly site-oriented content, rather than page-specific content.
 *
 * Site-oriented content typically includes things such as the logo or identity of the site sponsor, and site-specific search tool. A banner usually appears at the top of the page and typically spans the full width.
 *
 * Within any `document` or `application`, the author **SHOULD** mark no more than one element with the `banner` role.
 */
[role='banner'] {
}

.site-header {
  border-bottom: 10px solid palette('gray', 'light');
}

.site-header .container {
  padding-top: 0;
  padding-bottom: 0;
}

.header-menu {
  width: 100%;
}


.site-header > a {
  background-image: images('logo-menu-voto-legal.png');
  background-position: 0 50%;

  /* @2x Images (Pixel Ratio of 1.25+) */
  @media only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 120dpi), only screen and (min-resolution: 1.25dppx) {
    background-image: images('logo-menu-voto-legal@2x.png');
  }

  /* @3x Images (Pixel Ratio of 2.25+) */
  @media only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 216dpi), only screen and (min-resolution: 2.25dppx) {
    background-image: images('logo-menu-voto-legal@3x.png');
  }
}

