{{ $.Scratch.Add "scriptsHeader" `
<link rel="preload" src="/public-api/blockchain" as="fetch"> ` }}{{ partial "header.html" . }}

<main role="main" id="conteudo">

  {{ if or .Content .Title }}
    <article class="intro" id="intro">
      <div class="container">
        <section class="wrap-content">
          {{ if .Title }}
            {{ with $.Site.Params.credits }}
              <h2>
                {{ . }}
              </h2>
            {{ end }}
            <h1>
              {{ .Title }}
            </h1>
          {{ end }}

          {{ .Content }}
        </section>

        <figure class="last-days-chart" id="lastDaysChart" aria-busy="true" hidden>
          <div id="current-time-chart" class="chart-wrapper"></div>
          <figcaption>
            <dl>
              <div>
                <dt>{{ i18n "totalAmount" }}</dt>
                <dd id="totalAmount"></dd>
                <dd>em <span id="totalAmountDonations"></span> doações</dd>
              </div>
              <div>
                <dt>{{ i18n "last7DaysAmount" }}</dt>
                <dd id="last7DaysAmount"></dd>
                <dd>em <span id="last7DaysAmountDonations"></span> doações</dd>
              </div>
            </dl>
          </figcaption>
        </figure>
      </div>
    </article>
  {{ end }}

  {{ partial "search.html" . }}

  {{ partial "faq.html" . }}

  {{ partial "newsletter.html" . }}

  {{ partial "mediaClipping.html" . }}

  {{ partial "partners.html" . }}

</main>

{{ partial "footer.html" . }}
