<script type="text/x-template" id="block-detail">
  <tr :class="{'highlight': donation.highlight}" :id="donation.highlight ? 'result' : ''">
    <td title="{{ i18n "candidate" }}">
      <a :href="url(donation).candidate" v-if="url(donation).candidate">
        {{ "{{ donation.candidate.popular_name }}" }}
        <svg xmlns="http://www.w3.org/2000/svg" width="16.032" height="16.032" aria-hidden="true">
          <title>{{ i18n "receipt" 1 }}</title>
          <path fill-rule="evenodd" d="M11.26 5.605a.74.74 0 0 1-.739-.739V2.525L6.617 6.429a.732.732 0 0 1-.524.217.735.735 0 0 1-.739-.74c0-.197.077-.383.216-.523l3.905-3.904H7.134a.74.74 0 0 1 0-1.479h4.126a.74.74 0 0 1 .74.74v4.126a.74.74 0 0 1-.74.739zM6.708 3.499h-5.44v7.233h7.233v-5.44l1.268-1.268v7.342c0 .35-.284.634-.634.634H.634A.634.634 0 0 1 0 11.366V2.865c0-.35.284-.634.634-.634h7.342L6.708 3.499z" />
        </svg>
      </a>
      <template v-else>
        {{ "{{ donation.candidate.popular_name }}" }}
      </template>
    </td>
    <td title="{{ i18n "hash" }}" class="hash">
      <code :title="donation.decred_data_digest">
        {{ "{{ donation.decred_data_digest }}" }}
      </code>
    </td>
    <td title="{{ i18n "dateTime" }}">
      {{ "{{ donation.captured_at | formatDate(config.formats.timestamp) }}" }}
    </td>
    <td title="{{ i18n "transactionId" }}" class="hash">
      <code :title="donation.decred_capture_txid">
        {{ "{{ donation.decred_capture_txid }}" }}
      </code>
      <a v-if="url(donation).transactionId"
        :href="url(donation).transactionId"
        target="_blank">
        <svg xmlns="http://www.w3.org/2000/svg" width="16.032" height="16.032" role="img" aria-label="{{ i18n "transactionId" 1 }}">
          <title>{{ i18n "transactionId" 1 }}</title>
          <path fill-rule="evenodd" d="M11.26 5.605a.74.74 0 0 1-.739-.739V2.525L6.617 6.429a.732.732 0 0 1-.524.217.735.735 0 0 1-.739-.74c0-.197.077-.383.216-.523l3.905-3.904H7.134a.74.74 0 0 1 0-1.479h4.126a.74.74 0 0 1 .74.74v4.126a.74.74 0 0 1-.74.739zM6.708 3.499h-5.44v7.233h7.233v-5.44l1.268-1.268v7.342c0 .35-.284.634-.634.634H.634A.634.634 0 0 1 0 11.366V2.865c0-.35.284-.634.634-.634h7.342L6.708 3.499z" />
        </svg>
      </a>
    </td>
    <td title="{{ i18n "amount" }}" class="numeric">
      R${{ "{{ donation.amount | formatBRL }}" }}
    </td>
    <td title="{{ i18n "payment" }}">
      {{ "{{ donation.payment_method_human }}" }}
    </td>
    <td title="{{ i18n "receipt" 1 }}">
      <a :href="url(donation).receipt"
        v-if="url(donation).receipt"
        target="_blank" class="receipt"
        >&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16.032" height="16.032" role="img" aria-label="{{ i18n "receipt" 1 }}">
          <title>{{ i18n "receipt" 1 }}</title>
          <path fill-rule="evenodd" d="M11.26 5.605a.74.74 0 0 1-.739-.739V2.525L6.617 6.429a.732.732 0 0 1-.524.217.735.735 0 0 1-.739-.74c0-.197.077-.383.216-.523l3.905-3.904H7.134a.74.74 0 0 1 0-1.479h4.126a.74.74 0 0 1 .74.74v4.126a.74.74 0 0 1-.74.739zM6.708 3.499h-5.44v7.233h7.233v-5.44l1.268-1.268v7.342c0 .35-.284.634-.634.634H.634A.634.634 0 0 1 0 11.366V2.865c0-.35.284-.634.634-.634h7.342L6.708 3.499z" />
        </svg>
      </a>
    </td>
    <td title="{{ i18n "donor" }}">
      {{ "{{ donation.donor_name }}" }}
    </td>
  </tr>
</script>
