<tr>
  <td title="{{ i18n "candidate" }}">
    Juliana Silva
  </td>
  <td title="{{ i18n "hash" }}">
    a6b37c4d9e8f27d3e4a8c3f2d6e3a2c9b1a7b3c6a67c2e4f1da5f9b4d7c2
  </td>
  <td title="{{ i18n "dateTime" }}">
    25.10.18 - 06:00
  </td>
  <td title="{{ i18n "transactionId" }}">
    a6b37c4d9e8f27d3e4a8c3f2d6e3a2c9b1a7b3c6a67c2e4f1da5f9b4d7c2
  </td>
  <td title="{{ i18n "amount" }}" class="numeric">
    R$200,00
  </td>
  <td title="{{ i18n "payment" }}">
    Boleto bancário
  </td>
  <td title="{{ i18n "receipt" }}">
    <a href="https://votolegal.com.br/em/" target="_blank">
      {{ i18n "receipt"}}
    </a>
  </td>
  <td title="{{ i18n "donor" }}">
    Rafael Almeida
  </td>
  <td title="{{ i18n "cpf" | markdownify }}">
    248.943.252-86
  </td>
</tr>
