<script type="text/x-template" id="search-results">
  <section class="search__results" id="registros" :aria-busy="loading | booleanToString" v-if="nodes.length">
    <div class="container">
      <header>
        <h2>{{ i18n "results" }}</h2>
        <p>
          {{ i18n "date" }}:
          <time :datetime="$options.filters.formatDate(thisDate, 'YYYY-MM-DDTHH:mm:ss.SSSZ') ">
            {{ "{{ thisDate | formatDate(config.formats.date) }}" | safeHTML }}
          </time>

          <svg viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg" width="21" height="21" aria-hidden="true">
            <path d="M10.5 4.5c3.311 0 6 2.689 6 6s-2.689 6-6 6-6-2.689-6-6 2.689-6 6-6z" />
          </svg>
        </p>
      </header>

      <search-result v-for="(node, index) in nodes" :key="index" :donations="node.donations" :hash="node.decred_merkle_root" :time="node.decred_merkle_root_timestamp" :highlight="node.highlight" />
    </div>
  </section>
</script>
